<!-------------- LANGUE FR ------------>

<div *ngIf="lang == 'fr' || lang == 'FR'" class="fadeIn">
  <p class="paragraph">
    Etant donné notre refonte du jeu et changement de concept Gameplay, nous sommes en pleine rédaction de nouveaux documents. Plus d'informations sur notre discord :</p>

  <button onclick="window.open('https://discord.com/invite/AsXv6GKW5V', '_blank');" class="flex items-center h-12 px-6 mt-8 text-sm font-medium text-white transition duration-75 cursor-pointer rounded-tr-md rounded-bl-md border-lign hover:bg-blue_button_hover bg-blue_button shadow-blue-button shadow-gray border-blue_border focus:outline-none">
    <p class="mx-auto font">Discord</p>
  </button>
</div>
<!-------------- LANGUE EN ------------>

<div *ngIf="lang == 'en' || lang == 'EN'" class="fadeIn">
  <p class="paragraph"> Due to our game redesign and gameplay concept change, we are in the middle of writing new documents. More information on our discord:</p>

  <button onclick="window.open('https://discord.com/invite/AsXv6GKW5V', '_blank');" class="flex items-center h-12 px-6 mt-8 text-sm font-medium text-white transition duration-75 cursor-pointer rounded-tr-md rounded-bl-md border-lign hover:bg-blue_button_hover bg-blue_button shadow-blue-button shadow-gray border-blue_border focus:outline-none">
    <p class="mx-auto font">Discord</p>
  </button>
</div>
