<!-------------- LANGUE FR ------------>

<div *ngIf="lang == 'FR'">
<p class="paragraph">JustRun! est un jeu 3D d'action en FPS ; entre l’ambiance oppressante de Control et l’infiltration dynamique de Deus Ex, le jeu propose une histoire à la Portal qui questionne votre morale et remet en question vos choix, avec des objets à collectionner pour découvrir un riche univers futuriste d’anticipation.
  <br><br>
  Cyborg équipé de votre arme multifonction, vous ferez évoluer vos compétences tout en descendant le plus vite possible les étages, l’objectif étant d’atteindre le pied de la tour sans vous faire tuer par l’armée de robots qui garde le bâtiment.
  <br><br>
  Chaque étage proposera son propre style d’approche des ennemis et des mécaniques nouvelles. Vous devrez en plus, explorer d’inquiétants souvenirs, afin de découvrir la vérité sur ce qui vous est arrivé.</p>

  <img src="../../../assets/img/" class="w-full" alt="">

</div>

<!-------------- LANGUE EN ------------>

<div *ngIf="lang == 'EN'">
<p class="paragraph">JustRun! is a 3D FPS action game; between the oppressive atmosphere of Control and the dynamic infiltration of Deus Ex, the game offers a Portal-style story that questions your morals and challenges your choices, with collectible items to discover a rich futuristic world of anticipation.
  <br><br>
  As a Cyborg equipped with your multifunction weapon, you will develop your skills while descending the floors as quickly as possible, the goal being to reach the foot of the tower without being killed by the army of robots guarding the building.
  <br><br>

  Each floor will offer its own style of approach to enemies and new mechanics.
  In addition, you will have to explore disturbing memories, in order to discover the truth about what happened to you.</p>

  <img src="../../../assets/img/" class="w-full" alt="">

</div>
