<!-------------- LANGUE FR ------------>

<div *ngIf="lang == 'FR'">
<p class="paragraph">
  JustRun aura un style futuriste dans un environnement Cyberpunk. L'ensemble du jeu
se déroule dans un gratte-ciel appartenant à la société "AntechCorp".<br><br>
La tour est située dans un état riche avec beaucoup d'inégalités sociales, contrôlé par quelques puissantes sociétés commerciales.
Vous trouverez ci-dessous quelques images d'inspiration qui nous permettent de visualiser le futur look du jeu :<br><br>
<b>Intérieur de la tour :</b>
  <img src="" alt="">
  <b>La ville (avant le jeu) :</b>
  <img src="" alt="">
  <b>La ville (pendant la partie) :</b>
</p>
</div>

<!-------------- LANGUE EN ------------>

<div *ngIf="lang == 'EN'">
<p class="paragraph">JustRun will have a futuristic style in a Cyberpunk environment. The whole game
  takes place on a skyscraper owned by the company "AntechCorp". <br><br>
  The tower is located in a rich state with a lot of social inequality, controlled by a few powerful commercial companies.
  Below are some inspirational images that allow us to visualize the future look of the game: <br><br>
  <b>Inside the tower :</b>
  <img src="" alt="">
  <b>The city (before the game) :</b>
  <img src="" alt="">
  <b>The city (during the game) :</b>
</p>
</div>
