<!-------------- LANGUE FR ------------>

<div *ngIf="lang == 'fr' || lang == 'FR'">
  <p class="paragraph">
  JustRun aura un style futuriste dans un environnement Cyberpunk. L'ensemble du jeu
se déroule dans un gratte-ciel appartenant à la société "AntechCorp".<br><br>
La tour est située dans un état riche avec beaucoup d'inégalités sociales, contrôlé par quelques puissantes sociétés commerciales.<br><br>

L'une des choses qui rendent le jeu unique et intéressant est aussi la mise en place d'une atmosphère stressante. Avec par exemple des bruits de fond, des bruits de pas ou bien une difficulté accrue.

</p>

<!-- AJOUTER DES IMAGES DE L'ETAGE / VILLE EXTERIEURE -->
</div>

<!-------------- LANGUE EN ------------>

<div *ngIf="lang == 'en' || lang == 'EN'">
  <p class="paragraph">JustRun will have a futuristic style in a Cyberpunk environment. The whole game
  takes place on a skyscraper owned by the company "AntechCorp". <br><br>
  The tower is located in a rich state with a lot of social inequality, controlled by a few powerful commercial companies.<br><br>

  One of the things that make the game unique and interesting is also the setting of a stressful atmosphere. With for example background noises, footsteps or increased difficulty.
</p>
</div>
