<div class="grid w-full grid-flow-col grid-cols-1 grid-rows-3 gap-6 md:grid-rows-2 xl:grid-rows-1 md:grid-cols-2 xl:grid-cols-3">

  <div class="rounded-md p-9 !pb-8 bg-gray_background_light shadow-gray" *ngFor="let i of allProfiles">
    <div class="flex flex-row w-full pb-5">
      <div class="w-24 h-24"><img [src]="i.pdp" class="w-full h-full rounded-md border-lign border-blue_border" alt=""></div>
      <div class="flex flex-col">
        <p class="ml-5 -mt-1 text-lg font-medium text-white">{{ i.userName }}</p>
        <p class="mt-1 mb-3 ml-5 !text-sm small-paragraph">─ {{ i.role }}</p>

        <div class="flex flex-row w-full ml-5">
          <a [href]="i.socialOneLink" target="_blank">
            <div class="flex flex-col items-center justify-center w-8 h-8 mr-1.5 align-middle transition duration-75 rounded-md cursor-pointer bg-gray_light_hover small-shadow-gray">
              <img [src]="i.socialOneImg" class="w-4 h-4">
            </div>
          </a>

          <a *ngIf="i.socialTwoLink" [href]="i.socialTwoLink" target="_blank">
            <div class="flex flex-col items-center justify-center mr-1.5 w-8 h-8 align-middle transition duration-75 rounded-md cursor-pointer bg-gray_light_hover small-shadow-gray">
              <img [src]="i.socialTwoImg" class="w-4 h-4" alt="">
            </div>
          </a>
          <a *ngIf="i.socialThreeLink" [href]="i.socialThreeLink" target="_blank">
            <div class="flex flex-col items-center justify-center mr-1.5 w-8 h-8 align-middle transition duration-75 rounded-md cursor-pointer bg-gray_light_hover small-shadow-gray">
              <img [src]="i.socialThreeImg" class="w-4 h-4" alt="">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full">
      <p class="paragraph !text-base">{{ i.presentation }}</p>
    </div>
  </div>
</div>
