<div class="flex items-center justify-center w-full rounded-md h-36 bg-gray_background_light shadow-gray">
  <h1 class="small-title">{{ 'CONTACT.TITLE' | translate }}</h1>
</div>

<p class="w-full md:text-center md:w-2/3 md:mx-auto mt-14 mb-14 paragraph">{{ 'CONTACT.PARAGRAPH' | translate }}</p>



<div class="flex flex-col justify-between w-full h-full xl:flex-row">
  <form action="https://formspree.io/f/xpzkdbqk" method="POST" class="w-full xl:w-2/3">
    <div class="flex flex-col mr-0 xl:mr-14 md:flex-row">
        <div class="grid w-full grid-flow-row gap-6">
          <div class="grid grid-flow-row gap-6 md:grid-flow-col md:grid-cols-2">
            <div>
              <p class="mb-2 small-paragraph">{{ 'CONTACT.FORM-NAME' | translate }}</p>
              <input type="text" required name="name" class="w-full p-3 text-white rounded-md focus:outline-none h-11 bg-gray_background_light focus:border-blue_border focus:border-lign focus:shadow-blue-border-lign shadow-gray">
            </div>
            <div>
              <p class="mb-2 small-paragraph">{{ 'CONTACT.FORM-EMAIL' | translate }}</p>
              <input type="email" required name="_replyto" class="w-full p-3 text-white rounded-md focus:outline-none h-11 bg-gray_background_light focus:border-blue_border focus:border-lign focus:shadow-blue-border-lign shadow-gray">
            </div>
          </div>
          <div>
            <p class="mb-2 small-paragraph">{{ 'CONTACT.FORM-SUBJECT' | translate }}</p>
            <input type="text" name="subject" class="w-full p-3 text-white rounded-md focus:outline-none h-11 bg-gray_background_light focus:border-blue_border focus:border-lign focus:shadow-blue-border-lign shadow-gray">
          </div>
          <div>
            <p class="mb-2 small-paragraph">{{ 'CONTACT.FORM-MESSAGE' | translate }}</p>
            <textarea name="message" required id="" cols="30" rows="10" class="w-full h-48 p-3 text-white rounded-md focus:outline-none bg-gray_background_light focus:border-blue_border focus:border-lign focus:shadow-blue-border-lign shadow-gray"></textarea>
          </div>
          <button type="submit" class="flex items-center w-full h-12 mx-auto text-sm font-medium text-white transition duration-75 rounded-md cursor-pointer xl:mx-0 border-lign hover:bg-blue_button_hover bg-blue_button shadow-gray border-blue_border focus:outline-none">
            <p class="mx-auto">{{ 'CONTACT.FORM-BUTTON' | translate }}</p>
          </button>
        </div>
    </div>
  </form>

  <div class="hidden md:block mr-14 border-gray_subtitle w-lign border-l-lign"></div>

  <div class="hidden pt-10 mt-10 md:block xl:pt-0 lg:mt-0 xl:w-1/3 md:mb-0 border-gray_subtitle border-t-lign xl:border-none ">
    <p class="text-md text-gray_subtitle">{{ 'CONTACT.OTHER' | translate }}</p>

    <div class="flex flex-row w-full xl:flex-col">
      <div class="mr-2.5 w-full xl:mr-0 h-24 shadow-gray">
      <a href="https://discord.com/invite/AsXv6GKW5V" target="_blank" class="mx-auto lg:mx-px">
        <div class="flex flex-row w-full p-5 mt-6 mr-6 transition duration-75 rounded-md lg:mt-0 h-18 bg-gray_background_light hover:bg-gray_light_hover">
            <img src="../assets/logos/discord.svg" style="width: 35px !important; height: 35px;" class="mx-auto lg:mx-px" alt="">
            <p class="hidden my-auto ml-5 text-sm text-white lg:block">JustRun - Community</p>
        </div>
      </a>
      </div>
      <div class="mr-2.5 w-full xl:mr-0 h-24 shadow-gray">
      <a href="https://www.instagram.com/justrunthegame/" target="_blank" class="mx-auto lg:mx-px">
        <div class="flex flex-row w-full p-5 mt-6 mr-6 transition duration-75 rounded-md lg:mr-0 lg:mt-0 h-18 bg-gray_background_light hover:bg-gray_light_hover">
          <img src="../assets/logos/insta.svg" class="mx-auto w-9 h-9 lg:mx-px" alt="">
          <p class="hidden my-auto ml-5 text-sm text-white lg:block">@justrunthegame</p>
        </div>
      </a>
      </div>
      <div class="ml-2.5 w-full xl:ml-0 h-24 shadow-gray">
      <a href="https://twitter.com/JustRun_Game" target="_blank" class="mx-auto lg:mx-px">
        <div class="flex flex-row w-full p-5 mt-6 mr-6 transition duration-75 rounded-md lg:mr-0 lg:mt-0 h-18 bg-gray_background_light hover:bg-gray_light_hover">
            <img src="../assets/logos/twitter.svg" class="w-8 h-8 mx-auto mt-1 lg:mx-px" alt="">
            <p class="hidden my-auto ml-5 text-sm text-white lg:block">@JustRun_Game</p>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>
