<div *ngIf="frameShow == true" class="flex w-full h-full">
  <div class="hidden md:flex popup-sharing-blur" (click)="hide()">
    <div class="w-full h-auto px-4 md:px-0 md:w-3/5 md:h-3/5 popup-sharing">
      <img class="w-full h-full mt-24 rounded-t-md border-cadre border-gray_background_light !border-b-0" [src]="imageLink" alt="">
      <p class="p-5 text-base text-center text-white bg-gray_background_light rounded-b-md">{{ imageDescription }}</p>
    </div>
  </div>
</div>

<div class="flex flex-wrap mx-auto">
  <ng-template ngFor let-i [ngForOf]="imagesList1">
    <div (click)="displayFrame(i.image, i.descriptionFR)" class="flex-grow px-0 py-2 transition duration-75 cursor-pointer sm:p-2.5 shadow-gray hover:opacity-90">
      <img class="block object-cover h-64 min-w-full rounded-md border-cadre border-gray_light_hover" [src]="i.image" alt="">
    </div>
  </ng-template>
</div>
