<!-------------- LANGUE FR ------------>

<div *ngIf="lang == 'fr' || lang == 'FR'" class="fadeIn">
  <p class="paragraph">
    En descendant dans la tour, le joueur aura l'occasion de découvrir plus de 27 étages différents, chacun unique dans son environnement et sa dynamique de jeu.<br><br>
    Certains étages seront entièrement dédiés au combat, tandis que d'autres seront plus calmes et permettront au joueur d'en apprendre davantage sur le lore.<br><br>

    En plus de cela, celui-ci disposera de compétences spéciales. Elles seront débloquées au cours du jeu, et s'amélioreront au fil de la descente des étages. Au programme, 4 compétences, chacune avec sa propre utilité.
    <br><br>
    <b>Le joueur disposera d'une arme avec deux modes :</b>
  </p>

  <div class="grid grid-cols-1 gap-12 mt-10 mb-10 lg:grid-flow-col lg:grid-cols-2">
    <div>
        <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-arme-1 border-gray_background_light shadow-gray" alt="">
          <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
            Mode "Blaster"
          </div>
        </div>
        <p class="mt-5 small-paragraph">Peu de dégâts, mais tir plus rapide. Munitions infinies.</p>
    </div>

    <div>
        <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-arme-2 border-gray_background_light shadow-gray" alt="">
          <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
            Mode "Fusil a pompe"
          </div>
        </div>
        <p class="mt-5 small-paragraph">Dégâts conséquents. Tir plus lent avec des munitions limitées.</p>
    </div>
  </div>
</div>

<!-------------- LANGUE EN ------------>

<div *ngIf="lang == 'en' || lang == 'EN'" class="fadeIn">
  <p class="paragraph">
    When descending the tower, the player will have the opportunity to discover more than 27 different floors, each one unique in its environment and its game dynamics.<br><br>
    Some floors will be entirely dedicated to combat, while others will be calmer and allow the player to learn more about the lore.<br><br>

    In addition to that, he will have special skills. They will be unlocked during the game, and will improve as you go down the floors. There are 4 skills, each with its own utility.
    <br><br>
    <b>The player will have a weapon with two modes:</b>
  </p>

  <div class="grid grid-cols-1 gap-12 mt-10 mb-10 lg:grid-flow-col lg:grid-cols-2">
    <div>
        <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-arme-1 border-gray_background_light shadow-gray" alt="">
          <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
            Mode "Blaster"
          </div>
        </div>
        <p class="mt-5 small-paragraph">Little damage, but faster shooting. Infinite ammunition.</p>
    </div>

    <div>
        <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-arme-2 border-gray_background_light shadow-gray" alt="">
          <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
            Mode "Shotgun"
          </div>
        </div>
        <p class="mt-5 small-paragraph">Heavy damage. Slower firing with limited ammunition.</p>
    </div>
  </div>
</div>
