<!-------------- LANGUE FR ------------>

<div *ngIf="lang == 'FR'">
  <p class="paragraph">L'une des choses qui rendent le jeu unique et intéressant est la mise en place d'une atmosphère stressante. Voici quelques éléments qui vous y aideront :</p>
  <ul class="mt-4 mb-4 ml-8 list-disc paragraph">
    <li>Les bruits de fond (ennemis, explosions, etc...).</li>
    <li>Bruits de pas et de respiration du joueur</li>
    <li>Une augmentation de la difficulté.</li>
    <li>Des décors plus visibles, avec des lumières clignotantes, des objets cassés, etc.</li>
  </ul>
  <p class="paragraph">En descendant dans la tour, le joueur aura l'occasion de découvrir plus de 27 étages différents, chacun unique dans son environnement et sa dynamique.<br><br>
    Certains étages seront entièrement dédiés au combat, tandis que d'autres seront plus calmes et permettront au joueur d'en apprendre davantage sur le lore du jeu.<br><br>

    Le joueur disposera d'une arme avec deux modes :
  </p>
  <ul class="mt-4 mb-4 ml-8 list-decimal paragraph">
    <li><b>Blaster</b> : Peu de dégâts, mais tir plus rapide. Munitions infinies.</li>
    <li><b>Fusil à pompe</b> : Dégâts conséquents. Tir plus lent avec des munitions limitées.</li>
  </ul>
  <p class="paragraph">Il pourra également se battre au corps à corps pour étourdir un robot, ou glisser vers l'avant pour éviter les ennemis.
  </p>
</div>

<!-------------- LANGUE EN ------------>

<div *ngIf="lang == 'EN'">
  <p class="paragraph">One of the things that makes the game unique and interesting is the setting of a stressful atmosphere. Here are some elements that will help:</p>
  <ul class="mt-4 mb-4 ml-8 list-disc paragraph">
    <li>Background noise (enemies, explosions, etc..)</li>
    <li>Footsteps and breathing sounds of the player</li>
    <li>Increased difficulty</li>
    <li>More visible scenery, with flashing lights, broken things, etc.</li>
  </ul>
  <p class="paragraph">As the player descends the tower, he will have the opportunity to discover more than 27 different floors, each unique in their environment and dynamics. <br><br>
    Some floors will be entirely dedicated to combat, while others will be quieter and will allow the player to learn more about the game lore. <br><br>

    The player will have a weapon with two modes:
  </p>
  <ul class="mt-4 mb-4 ml-8 list-decimal paragraph">
    <li><b>Blaster</b> : Little damage, but faster shooting. Infinite ammunition.</li>
    <li><b>Shotgun</b> : Consequent damage. Slower shooting with limited ammunition</li>
  </ul>
  <p class="paragraph">  He will also be able to fight in hand-to-hand combat to stun a robot, or to slide forward to avoid enemies.
  </p>
</div>
