<!-------------- LANGUE FR ------------>

<div *ngIf="lang == 'fr' || lang == 'FR'" class="fadeIn">
  <p class="paragraph">
  Vous vous réveillez dans un incubateur, des prothèses robotiques aux mains, perdu et trempé. Vous tentez de demander de l'aide à un individu étrange qui, pas de chance, se révèle être un robot garde du corps qui tente de vous tuer.
  <br><br>
Vous êtes alors contacté par une voix qui se présente comme étant le scientifique qui vous aurait amené ici. Il vous a sauvé la vie une fois, et compte vous la sauver de nouveau en vous aidant à échapper aux milliers de robots que vous avez désormais activés et qui cherchent activement à vous démolir.
<br><br>
Quitter le bâtiment sain et sauf ne sera pas chose aisée : la tour d'Antech Corporation dans laquelle vous êtes enfermé est un gratte-ciel de plus de 500 mètres de hauteur qu'il vous faudra descendre au plus vite.
<br><br>
Parviendrez-vous à retrouver vos souvenirs, découvrir les réelles intentions du mystérieux Dr. Frejel et sortir de la tour vivant ?
Pour ça, une seule solution : Just Run.
</p>

</div>

<!-------------- LANGUE EN ------------>

<div *ngIf="lang == 'en' || lang == 'EN'" class="fadeIn">
  <p class="paragraph">
  You wake up in an incubator, robotic prostheses in your hands, lost and soaked. You try to ask for help from a strange individual who, out of bad luck, turns out to be a robot bodyguard trying to kill you.
  <br><br>
You are then contacted by a voice that presents itself as the scientist who brought you here. He saved your life once, and intends to save it again by helping you escape from the thousands of robots you have now activated and who are actively seeking to demolish you.
<br><br>
Leaving the building unharmed will not be easy: the Antech Corporation tower in which you are enclosed is a skyscraper more than 500 meters high that you will have to get down as quickly as possible.
<br><br>
Will you be able to recover your memories, discover the real intentions of the mysterious Dr. Frejel and get out of the tower alive?
There is only one solution for that: Just Run.
</p>


</div>
