<div class="w-full border-2 border-solid rounded-lg h-[5000px] border-blue_border shadow-blue-border">

  <!----------- LOGO -------------------------------------------->

  <div class="absolute left-9 top-9 border-r-big border-b-big border-gray_background_dark">
    <img src="../assets/logo-tight.png" class="w-15" alt="">
  </div>

  <!----------- MENU ITEM -------------------------------------------->

  <button class="items-center inline-block h-10 px-5 text-base leading-10 text-white border-2 rounded-md cursor-pointer focus:outline-none ml-36 bg-gray_background_light border-blue_border shadow-blue-button"><p class="mx-auto text-base">The game</p></button>

  <!----------- BUY BUTTON -------------------------------------------->

  <div class="absolute top-9 right-9 border-l-big border-b-big border-gray_background_dark">
    <button class="flex items-center text-sm font-bold lea­­­ding-snug text-center text-white align-middle border-2 rounded-md cursor-pointer h-18 w-18 bg-blue_button shadow-blue-button border-blue_border px-2 focus:outline-none">BUY­­ NOW</button>
  </div>
</div>

