<!-------------- LANGUE FR ------------>

<div *ngIf="lang == 'fr' || lang == 'FR'" class="fadeIn">
  <p class="paragraph">Durant le jeu, le joueur peut se retrouver face à plus de 10 ennemis différents. Chacun d'entre eux possède ses propres caractéristiques et méthodes d'attaque. Voici 3 d'entre eux :</p>
  <br><br>
  <div class="grid grid-cols-1 gap-12 lg:grid-flow-col lg:grid-cols-3">
    <div>
        <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-robot-1 border-gray_background_light shadow-gray" alt="">
          <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
            S-019
          </div>
        </div>
        <p class="mt-5 small-paragraph">Robot chirurgical à plusieurs bras qui tente d'attraper le joueur.</p>
    </div>

    <div>
        <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-robot-2 border-gray_background_light shadow-gray" alt="">
          <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
            A-373
          </div>
        </div>
        <p class="mt-5 small-paragraph">Robot araignée tirant une balle toutes les 5 secondes comme un sniper.</p>
    </div>

    <div>
      <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-robot-3 border-gray_background_light shadow-gray" alt="">
        <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
          A-402
        </div>
      </div>
      <p class="mt-5 small-paragraph">Robot modulaire tirant des balles rapides avec son pistolet intégré.</p>
    </div>


  </div>
</div>

<!-------------- LANGUE EN ------------>

<div *ngIf="lang == 'en' || lang == 'EN'" class="fadeIn">
  <p class="paragraph">During the game, the player can come face to face with more than 10 different enemies. Each one has its own characteristics and methods of attack. Here are 3 of them:</p>
<br><br>
<div class="grid grid-cols-1 gap-12 lg:grid-flow-col lg:grid-cols-3">
  <div>
      <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-robot-1 border-gray_background_light shadow-gray" alt="">
        <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
          S-019
        </div>
      </div>
      <p class="mt-5 small-paragraph">Multi-armed surgical robot that tries to catch the player.</p>
  </div>

  <div>
      <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-robot-2 border-gray_background_light shadow-gray" alt="">
        <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
          A-373
        </div>
      </div>
      <p class="mt-5 small-paragraph">Spider robot firing a bullet every 5 seconds like a sniper.</p>
  </div>

  <div>
    <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-robot-3 border-gray_background_light shadow-gray" alt="">
      <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
        A-402
      </div>
    </div>
    <p class="mt-5 small-paragraph">Modular robot shooting fast bullets with its integrated gun.</p>
  </div>


</div>

</div>
