<!-------------- LANGUE FR ------------>

<div *ngIf="lang == 'FR'">
  <p class="paragraph">Durant le jeu, le joueur peut se retrouver face à plus de 10 ennemis différents. Chacun d'entre eux possède ses propres caractéristiques et méthodes d'attaque. Voici 3 d'entre eux :</p>

  <ul class="mt-4 mb-4 ml-8 list-disc paragraph">
    <li><b>S-019 /</b> Robot chirurgical à plusieurs bras qui tente d'attraper le joueur, lors de ses premières tentatives il fait de petits dégâts et finit par immobiliser le joueur. Pour s'en débarrasser, le joueur doit marteler un bouton. Le bouton à marteler ne sera pas toujours le même pour chaque robot de ce type. <br><br></li>
    <li><b>A-402 (Mode militaire) /</b> Robot modulaire aux proportions humaines. Il tire des balles à l'aide d'un pistolet. Des tirs rapides mais peu de dégâts. <br> <br></li>
    <li><b>A-373 /</b> Il tire une balle toutes les 5 secondes comme un sniper. Quelques balles suffisent à éliminer le joueur.</li>
  </ul>

  <img class="w-full mt-5 mb-5" src="" alt="">

  <p class="paragraph">Les compétences spéciales du joueur sont débloquées au cours du jeu, et s'améliorent au fil de la descente des étages. Voici un résumé rapide des capacités spéciales proposées :
  </p>

  <ul class="mt-4 mb-4 ml-8 list-disc paragraph">
    <li><b>X-ray /</b>Permet au joueur de voir à travers les murs. Cela peut être utilisé pour prévoir les attaques des ennemis, ou pour découvrir des pièces cachées.</li><br> 
    <li><b>Hack /</b>Permet au joueur de faire une diversion en piratant un ennemi. Une fois piraté, le joueur peut créer une diversion en contrôlant l'ennemi.</li><br> 
    <li><b>Ultra velocity /</b>Permet au joueur de ralentir son environnement, afin d'esquiver ou d'attaquer les ennemis.</li><br> 
    <li><b>Energy Shield /</b>Permet au joueur de se protéger en créant un bouclier devant lui, le protégeant des balles ou des attaques de corps à corps.</li>
  </ul>
</div>

<!-------------- LANGUE EN ------------>

<div *ngIf="lang == 'EN'">
<p class="paragraph">During the game, the player can come face to face with more than 10 different enemies. Each one has its own characteristics and methods of attack. Here are 3 of them:</p>

  <ul class="mt-4 mb-4 ml-8 list-disc paragraph">
    <li><b>S-019 /</b> Multi-armed surgical robot trying to catch the player, during its first attempts it does small damages and finally immobilizes the player. To get rid of it, the player must hammer a button. The button to hammer will not always be the same for each robot of this type. <br><br></li>
    <li><b>A-402 (Military Mode) /</b> Modular robot with human proportions. It shoots bullets with a pistol. Quick shots but little damage. <br> <br></li>
    <li><b>A-373 /</b> Shoots a bullet every 5 seconds like a sniper. A few bullets are enough to eliminate the player.</li>
  </ul>

  <img class="w-full mt-5 mb-5" src="" alt="">

  <p class="paragraph">The player's special skills are unlocked during the game, and improve during the descent of the floors. Here is a quick summary of the special abilities provided:
  </p>

  <ul class="mt-4 mb-4 ml-8 list-disc paragraph">
    <li><b>X-ray /</b>Allows the player to see through walls. This can be used to predict attacks from enemies, or to discover hidden rooms.</li><br> 
    <li><b>Hack /</b>Allows the player to make a diversion by hacking an enemy. Once hacked, the player can create a diversion by controlling the enemy.</li><br> 
    <li><b>Ultra velocity /</b>Allows the player to slow down his environment, in order to dodge or attack the enemies.</li><br> 
    <li><b>Energy Shield /</b>Allows the player to protect themselves by creating a shield in front of them, protecting them from bullets or corpse attacks.</li>
  </ul>
  
</div>
