<!-- HEADER COMPONENT ------------------------>

<div class="flex flex-col justify-between lg:mt-20 md:mt-12 xl:flex-row">
  <div class="mx-auto mb-12 text-center xl:my-auto w-96 xl:text-left xl:mx-0">
    <h1 class="title">{{ 'THE-GAME.TITLE' | translate}}</h1>
    <p class="mt-6 subtitle">{{ 'THE-GAME.SUBTITLE' | translate }}</p>
    <button class="mx-auto xl:mx-0 mt-7 flex items-center text-sm font-medium lea­­­ding-snug text-white transition duration-75 border-lign hover:bg-blue_button_hover rounded-md cursor-pointer h-12 w-40 bg-blue_button shadow-blue-button shadow-gray border-blue_border focus:outline-none">
      <p class="mx-auto">{{ 'BUYBUTTON' | translate }}</p>
    </button>
  </div>
  <div class="flex">
    <div class="p-12 border-cadre rounded-xl size-special border-gray_background_light bg-img_background"></div>
  </div>
</div>

<!-- 3 BOXS --------------------------------->

<div class="flex flex-col-reverse justify-between mt-40 h-96 lg:flex-row">
  <!-- Image desktop -->
  <div class="w-2/3 md:flex">
    <div class="w-full h-full border-cadre rounded-xl border-gray_background_light bg-img_background"></div>
  </div>
  <!-- Paragraph & title -->
  <div class="flex flex-col w-full ml-0 w-special-box lg:ml-16 md:flex-col">
    <h2 class="small-title">Ornare morbi nulla et risus scelerisque.</h2>
    <p class="mt-9 paragraph">Tellus fames sit nec integer platea amet mauris eu. Euismod phasellus nulla pellentesque augue posuere curabitur viverra. <br> <br> Nec morbi feugiat non odio aliquet dui blandit sodales odio. Semper turpis pretium lobortis nunc arcu nisl.</p>
  </div>
</div>

<div class="flex flex-col justify-between mt-24 h-96 lg:flex-row">
  <!-- Paragraph & title -->
  <div class="flex flex-col w-full ml-0 w-special-box lg:mr-16 md:flex-col">
    <h2 class="small-title">Ornare morbi nulla et risus scelerisque.</h2>
    <p class="mt-9 paragraph">Tellus fames sit nec integer platea amet mauris eu. Euismod phasellus nulla pellentesque augue posuere curabitur viverra. <br> <br> Nec morbi feugiat non odio aliquet dui blandit sodales odio. Semper turpis pretium lobortis nunc arcu nisl.</p>
  </div>
  
  <!-- Image desktop -->
  <div class="w-2/3 md:flex">
    <div class="w-full h-full border-cadre rounded-xl border-gray_background_light bg-img_background"></div>
  </div>
</div>

<div class="flex flex-col-reverse justify-between mt-24 h-96 lg:flex-row lg:mb-20 md:mb-12">
  <!-- Image desktop -->
  <div class="w-2/3 md:flex">
    <div class="w-full h-full border-cadre rounded-xl border-gray_background_light bg-img_background"></div>
  </div>
  <!-- Paragraph & title -->
  <div class="flex flex-col w-full ml-0 w-special-box lg:ml-16 md:flex-col">
    <h2 class="small-title">Ornare morbi nulla et risus scelerisque.</h2>
    <p class="mt-9 paragraph">Tellus fames sit nec integer platea amet mauris eu. Euismod phasellus nulla pellentesque augue posuere curabitur viverra. <br> <br> Nec morbi feugiat non odio aliquet dui blandit sodales odio. Semper turpis pretium lobortis nunc arcu nisl.</p>
  </div>
</div>
