@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Rubik', 'Arial', sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#oki {
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

#doki {
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px !important;
}

@media (max-width: 640px) {
  html {
    font-size: 14px !important;
  }
}

html, body {
  touch-action: pan-y;
  -webkit-touch-callout: pan-y; /* iOS Safari */
  height: 100%;
  margin: 0;
  background-color: #f7f7f8;
}

.title {
  font-weight: bold;
  font-size: 3.125rem;
  letter-spacing: 1%;
  color: white;
  line-height: 120%;
  font-weight: bold;
}

.small-title {
  font-weight: bold;
  font-size: 2.1875rem;
  letter-spacing: 1%;
  color: white;
  line-height: 120%;
}

.subtitle {
  font-weight: medium;
  font-size: 1.375rem;
  color: #AAAAAB;
  line-height: 122.8%;
  letter-spacing: 1%;
}

.paragraph {
  font-weight: regular;
  font-size: 1.1875rem;
  color: #AAAAAB;
  line-height: 145%;
  letter-spacing: 1%;
}

.small-paragraph {
  font-weight: regular;
  font-size: 1rem;
  color: #AAAAAB;
  line-height: 145%;
  letter-spacing: 1%;
}

.shadow-blue-border {
  box-shadow: 0rem 0rem 0.625rem #12606D, inset 0rem 0rem 0.625rem #12606D;
}

.shadow-blue-border-lign {
  box-shadow: 0rem 0rem 0.625rem #12606D, inset 0rem 0rem 0.625rem #12606D;
}

@media (max-width: 767px) {
  .shadow-blue-border {
    box-shadow: none !important;
  }
}

@media (max-width: 1024px) {
  .w-special-box {
    min-width: 100% !important;
  }
}

@media (max-width: 1280px) {
  .size-special {
    height: 21.875rem !important;
    width: 37.5rem;
  }
}

.shadow-blue-button {
  box-shadow: 0rem 0rem 0.9375rem 0rem #12606D;
}

.small-shadow-gray {
  filter: drop-shadow(0rem 0.1563rem 0rem rgba(0, 0, 0, 0.25));
}

.shadow-gray {
  filter: drop-shadow(0rem 0.3125rem 0rem rgba(0, 0, 0, 0.25));
}

.shadow-blue {
  filter: drop-shadow(0rem 0.3125rem 0rem #12606D);
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.lang-selected {
  color: white !important;
  font-weight: medium !important;
}

/*.............................................*/

.dropdown-height {
  height: auto;
}

.transition-start {
  animation: growDown 50ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}

.rotate-menu {
  transform: rotate(90deg);
}

.h-special {
  height: 34.375rem !important;
}

.size-special {
  height: 28.125rem;
  width: 37.5rem;
}

.size-button-hamburger {
  height: 3.125rem;
  min-width: 3.125rem;
}

.w-special-box {
  max-width: 370px;
}

.top-special {
  top:6.5625rem !important;
}


.background-image-1 {
  background-image: url('./assets/img/img1.webp');
}

.background-image-2 {
  background-image: url('./assets/img/img2.webp');
}

.background-image-3 {
  background-image: url('./assets/img/img3.webp');
}


/* --------------------------- */

.img-home {
  background-image: url('./assets/img/img3.webp');
}

/*-POPUP ---*/

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.popup-sharing-blur {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: calc(100vh);
    display: flex;
    z-index: 2;
    background: rgba(0, 0, 0, 0.705);
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}

.popup-sharing {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 3;
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}

.icon-new {
  transform: rotate(180deg);
}

.pad-special {
  padding-top: 5rem !important;
}

@font-face {
  font-family: 'outageregular';
  src: url('assets/font/outage/outage-webfont.woff2') format('woff2'),
       url('assets/font/outage/outage-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'outagecut';
  src: url('assets/font/outage/outage_cut-webfont.woff2') format('woff2'),
       url('assets/font/outage/outage_cut-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font {
  font-family: 'outagecut' !important;
}

.background-image-robot-1 {
  background-image: url('./assets/img/pages/robot1.jpg');
}

.background-image-robot-2 {
  background-image: url('./assets/img/pages/robot2.jpg');
}

.background-image-robot-3 {
  background-image: url('./assets/img/pages/robot3.jpg');
}

.background-image-arme-1 {
  background-image: url('./assets/img/pages/arme1.jpg');
}

.background-image-arme-2 {
  background-image: url('./assets/img/pages/arme2.jpg');
}
