@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Rubik', sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px !important;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #f7f7f8;
}

.title {
  font-weight: bold;
  font-size: 4.25rem;
  letter-spacing: 1%;
  color: white;
}

.small-title {
  font-weight: bold;
  font-size: 2.9375rem;
  letter-spacing: 1%;
  color: white;
}

.subtitle {
  font-weight: medium;
  font-size: 1.875rem;
  color: #AAAAAB;
  line-height: 122.8%;
  letter-spacing: 1%;
}

.paragraph {
  font-weight: regular;
  font-size: 1.375rem;
  color: #AAAAAB;
  line-height: 135%;
  letter-spacing: 1%;
}

.shadow-blue-border {
  box-shadow: 0rem 0rem 0.625rem #12606D, inset 0rem 0rem 0.625rem #12606D;
}

@media (max-width: 768px) {
  .shadow-blue-border {
    box-shadow: none !important;
  }  
}

.shadow-blue-button {
  box-shadow: 0rem 0rem 0.9375rem 0rem #12606D;
}

.shadow-gray {
  filter: drop-shadow(0rem 0.3125rem 0rem rgba(0, 0, 0, 0.25));
}

.shadow-blue {
  filter: drop-shadow(0rem 0.3125rem 0rem #12606D);
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.lang-selected {
  color: white !important;
  font-weight: bold !important;
}