<!-- Image background -->
<div class="absolute top-0 left-0 z-0 w-full bg-center bg-cover fadeIn h-special-2 image-background "></div>

<!-- HEADER COMPONENT ------------------------>

<div class="flex flex-col justify-between fadeIn xl:flex-row">
  <div class="mx-auto mb-20 text-center mt-28 w-96">
    <h1 class="relative z-50 title font">{{ 'HOME.TITLE' | translate}}</h1>
    <p class="relative z-50 mt-5 subtitle">{{ 'HOME.SUBTITLE' | translate }}</p>
    <a routerLink="the-game">
     <button class="flex items-center w-40 h-12 mx-auto mt-8 text-sm font-medium text-white transition duration-75 cursor-pointer rounded-tr-md rounded-bl-md border-lign hover:bg-blue_button_hover bg-blue_button shadow-blue-button shadow-gray border-blue_border focus:outline-none">
        <p class="mx-auto font">{{ 'BUYBUTTON' | translate }}</p>
      </button>
    </a>
  </div>
</div>

<!-- 3 BOXS --------------------------------->

<div class="flex flex-col items-start mt-20 mb-20 fadeIn xl:items-end lg:items-center xl:mt-36">
  <h2 class="xl:text-right lg:text-center small-title font">{{ 'HOME.MIDDLE-TITLE' | translate}}</h2>
  <p class="w-full mt-4 xl:text-right lg:w-2/3 paragraph lg:text-center">{{ 'HOME.MIDDLE-PARAGRAPH' | translate}}</p>
</div>

<div class="grid grid-cols-1 gap-12 mb-16 fadeIn sm:grid-cols-2 lg:grid-flow-col lg:grid-cols-3 lg:mb-14">
  <div>
      <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-1 border-gray_background_light shadow-gray" alt="">
        <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
          {{ 'HOME.BOX-1-TITLE' | translate}}
        </div>
      </div>
      <p class="mt-5 small-paragraph">{{ 'HOME.BOX-1-TEXT' | translate}}</p>
  </div>

  <div>
      <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-2 border-gray_background_light shadow-gray" alt="">
        <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
          {{ 'HOME.BOX-2-TITLE' | translate}}
        </div>
      </div>
      <p class="mt-5 small-paragraph">{{ 'HOME.BOX-2-TEXT' | translate}}</p>
  </div>

  <div class="hidden lg:block">
    <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-3 border-gray_background_light shadow-gray" alt="">
      <div class="font absolute flex items-center h-10 px-4 text-sm md:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
        {{ 'HOME.BOX-3-TITLE' | translate}}
      </div>
    </div>
    <p class="mt-5 small-paragraph">{{ 'HOME.BOX-3-TEXT' | translate}}</p>
  </div>


</div>

<div class="block fadeIn lg:hidden">
  <div class="relative bg-center bg-cover h-80 border-cadre rounded-xl background-image-3 border-gray_background_light shadow-gray" alt="">
    <div class="font absolute flex items-center h-10 px-4 text-sm lg:text-xs xl:text-sm font-medium text-white rounded-bl-md rounded-tr-md -bottom-2.5 -left-2.5 bg-blue_button border-blue_border border-lign">
      {{ 'HOME.BOX-3-TITLE' | translate}}
    </div>
  </div>
  <p class="mt-5 small-paragraph">{{ 'HOME.BOX-3-TEXT' | translate}}</p>
</div>
